nav {
    background-color: lightblue;
    padding: 15px;
    box-shadow: 2px 2px;
    position: fixed;
    left:0;
    top:0;
     width: 100%;
     text-align: center;
     padding: 10px;
}
ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
li {
    list-style: none;
}